.about {
  background-image: url('../../assets/AboutPage/Aboutwelcomepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.about .title {
  font-size: 66px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
  border-radius: 8px;
  color: white;
}

.card {
  width:15%;
  height: auto;
  background-color: #292727;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: black;
}

.image { 
  height: 30vh;
  width: 40vh;
  background-color: rgb(12, 11, 11);
  margin: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

.image:hover {
  background-color: rgb(34, 33, 33);
  transform: scale(1.02);
}

.vertical-line {
  border-left: 3px solid black;
  height: auto;
  margin: 20px 0;
  display: none;
}

.text-container p {
  margin-left: 10px;
}

.mission-text {
  margin-left: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  }

.vision-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.vision-points {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: black;
}

.vision-points li {
  margin: 10px 0;
  line-height: 1.7;
  position: relative;
  opacity: 0;
  animation: fadeInUp 2s ease-in-out;
  animation-fill-mode: forwards;
}

.vision-points li::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #00194c;
  border-radius: 50%;
}

.end {
  background-color: black;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-lines {
  color: white;
  padding: 5%;
}

.All3Content {
  margin-top: 5%;
  padding:0%
}

.multi-infocard { 
  display: flex;
  flex-direction: column;
  margin-top:30px;
  max-width: 100%;
}

.info-slide {
  position: relative;
  width: 90%;
  height: 300px; 
  margin-bottom: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

.info-slide.active {
  display: flex;
}

.slide-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  z-index: 0;
  overflow: hidden;
  margin-left: 3%;
}

.slide-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.slide-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding:7%;
}
.multi-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.info-nav {
  display: flex;
  margin-left:50%;
}

.nav-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.nav-btn.active {
  background-color: #007bff;
  color: white;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 90%; 
}

.mission-in{
  display:flex
}

.R-icon{
  margin-left:32%;
  color:black
}

.Vision {
  padding: 30px;
  border-radius: 8px;
  background: linear-gradient(to right, #bcd8f7, #003d80);
  color: #00194c;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.Vision.animated {
  opacity: 1;
}

.Vision h4, .animated-text, .vision-points li {
  animation: fadeInUp ease-in-out;
  
}

.Vision h4 {
  font-size: 26px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  animation-duration: 1s;
}

.animated-text {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 1.7;
  text-align: justify;
  animation-duration: 1.5s;
}

.vision-points {
  font-size: 17px;
  color: black;
}

.vision-points li {
  margin: 10px 0;
  line-height: 1.7;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.vision-points li:nth-child(1) { animation-delay: 0.5s; }
.vision-points li:nth-child(2) { animation-delay: 1s; }
.vision-points li:nth-child(3) { animation-delay: 1.5s; }
.vision-points li:nth-child(4) { animation-delay: 2s; }

.vision-points li::before {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #00194c;
  border-radius: 50%;
}

.card-title {
  font-size: 3rem;
  color: white;
  background-color: black;
  padding: 10px;
  display: inline-block;
}

.card-text {
  font-size: 1.5rem;
  color: white;
  background-color: black;
  padding: 5px;
  display: inline-block;
  width:5vh;
}

.image1 {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image1 img {
  height: 20vh;
  width: 25vh;
}

.red-text{
  color: #00194c;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}


.why-us {
  padding: 30px;
  background: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  }
  
.why-us h4 {
  color: #00194c;
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  }
  
.why-us-intro {
  font-size: 17px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 30px;
  }
  
.why-us-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  }
  
.why-us-lines {
  position: absolute;
  width: 2px;
  background-color: #003d80;
  z-index: 0;
  height: 100%;
  }
  
.why-us-points {
  position: relative;
  }
  
.why-us-point {
  position: relative;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  }
  
.why-us-point.animated {
  opacity: 1;
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: forwards;
  }
  
.why-us-point:nth-child(1) { animation-delay: 0.5s; }
.why-us-point:nth-child(2) { animation-delay: 1s;}
.why-us-point:nth-child(3) { animation-delay: 1.5s; }
.why-us-point:nth-child(4) { animation-delay: 2s; }
  
.why-us-circle {
  width: 12px;
  height: 12px;
  background-color: #003d80;
  border-radius: 50%;
  margin-right: 15px;
  z-index: 1;
  }
  
.why-us-content {
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  }
  
.why-us-content h5 {
  margin-bottom: 10px;
  color: #003d80;
  font-size: 20px;
  }
  
.why-us-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  }

  @media only screen and (max-width: 800px) {
    .title{
      font-size: 45px !important;
    }
    .All3Content{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
    }
    .mission{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .mission-in{
      display: none;
    }
  }