
   
  .title {
    height: 200px;
    margin-left: 43%;
    align-content: center;
    font-size: 66px;
    color: white;
    margin: 0%;
    padding: 0%;
    font-weight: bold;
  }
.symb{
    padding: 0 10px 0 10px;
}
 
.page-title-content ul li a {
    display: inline-block;
    color: #221638;
    transition: .5s;
    text-decoration: none;
}
.page-title-content ul li:last-child {
    margin-right: 0;
}
.page-title-content ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 15px;
}
.page-title-content ul li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    font-size: 16.5px;
    font-weight: 700;
}
.page-title-area {
    
    background:linear-gradient(to right, rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2)), url(../../assets/home-contact.jpg) 100% 0 no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 100px;
}
 
.con {
    margin-bottom: 0;
    display: flex;
    list-style: none;
    padding-left: 5px;
    margin-top: 15px;
    font-weight: 700;
}
.page-title-area .con{
    a{
        text-decoration: none;
        color: white;
    }
}
 
.contact-info-box {
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
 
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: #f7f7f7;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    color: #7010f5;
    transition: .5s;
    margin-bottom: 20px;
}
 
.icon i {
    font-size: 40px;
    color: #7010f5;
}
 
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
 
 
.contact-info-box .back-icon {
    
    position: absolute;
    right: 0;
    bottom: -15px;
    z-index: -1;
    color: #221638;
    line-height: 1;
    opacity: .04;
    font-size: 100px;
    transform: rotate(-5deg);
}
.contact-info-box:hover .icon {
    background-color: #7010f5;
   
}
 
.contact-info-box:hover .icon i {
    color: white;
}
 
.contact-info-area{
    padding-bottom: 70px;
    padding-top: 100px;
}
.section-title {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}
.section-title h2 {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    font-size: 44px;
}
.section-title p {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.section-title .sub-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #7010f5;
    font-weight: 700;
    font-size: 15px;
}
.section-title .sub-title img {
    margin-right: 5px;
    animation-name: rotateme;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.default-btn i {
    position: absolute;
    left: 25px;
    top: 45%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 16.5px;
}
.default-btn:hover{
    background-color: #221638;
}
 
.contact-form {
    padding: 40px;
    margin-left: 15px;
    box-shadow: 0 0 20px hsla(0, 0%, 62%, .16);
    background-color: #fff;
}
.contact-form form .form-group .form-control {
    height: 55px;
    border-radius: 0;
}
a{
    text-decoration: none;
    color: #212529;
}
.form-control {
    height: 50px;
    color: #221638;
    box-shadow: unset !important;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    transition: .5s;
    border-radius: 3px;
    padding: 1px 0 0 15px;
    font-size: 16px;
    font-weight: 600;
}
textarea.form-control {
    height: auto;
    padding-top: 15px;
}
.form-group {
    margin-bottom: 20px;
}
.contact-form form .form-group textarea.form-control {
    height: auto;
}
textarea.form-control {
    height: auto;
    padding-top: 15px;
}
.contact-form form .default-btn {
    margin-top: 5px;
}
.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    background-color:#7010f5;
    transition: .5s;
    border-radius: 5px;
    padding: 12px 25px 12px 50px;
    font-weight: 700;
    font-size: 16px;
}
@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}