<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100" class="page-title-area d-flex align-items-center justify-content-center">
    <h2 class="title">Contact Us</h2>
  </div>
  
<div class="contact-info-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6"  data-aos="flip-up" data-aos-duration="800" data-aos-delay="100">
                <div class="contact-info-box h-100">
                    <div class="back-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <h3>Our Address</h3>
                    <p>175 5th Ave, New York, NY 10010, United States</p>
                </div>
               
            </div>
            <div class="col-lg-4 col-md-6"  data-aos="flip-up" data-aos-duration="800" data-aos-delay="100">
                <div class="contact-info-box h-100">
                    <div class="back-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <h3>Contact</h3>
                    <p>Mobile: <a href="tel:+44457895789">(+44) - 45789 - 5789</a></p>
                    <p>E-mail: <a href="mailto:hello@tracer.com">hello.com</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6"  data-aos="flip-up" data-aos-duration="800" data-aos-delay="100">
                <div class="contact-info-box h-100">
                    <div class="back-icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <h3>Hours of Operation</h3>
                    <p>Monday - Friday: 09:00 - 20:00</p>
                    <p>Sunday &amp; Saturday: 10:30 - 22:00</p>
                </div>
            </div>
           
        </div>
    </div>
</div>
 
<div class="container"  >
    <div class="section-title">
       <p class="sub-title">GET IN TOUCH</p>
        <h2>Ready to Get Started?</h2>
        <p>Your email address will not be published. Required fields are marked *</p>
    </div>
    <div class="row align-items-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="col-lg-6 col-md-12">
            <div class="contact-image">
                <img alt="image" loading="lazy" width="750" height="620" decoding="async" data-nimg="1"
                    style="color:transparent" src="../../assets/contact/contactbg.jpg">
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="contact-form rounded " >
                <form>
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Name" class="form-control" required="" name="name"
                                    value="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control" required="" name="email"
                                    value="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="tel" placeholder="Phone number" class="form-control" required=""
                                    name="number" value="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Subject" class="form-control" required="" name="subject"
                                    value="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="text" cols="30" rows="6" placeholder="Write your message..."
                                    class="form-control" required=""></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 d-flex justify-content-end sub-btn">
                            <button type="submit" class="default-btn">
                                <i class="bi bi-bag-check"></i> Send Message<span></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
<app-footer></app-footer>