<nav class="navbar  fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <div class="d-flex align-items-center justify-content-center">
      <a class="navbar-brand fw-bold" [ngClass]="{'logoscrolled': isScrolled}">Logo.</a>
      <div class="menus  d-flex align-items-center justify-content-between ms-4" style="width: 500px;">
        <a routerLink="Home">Home</a>
        <a routerLink="Services">Services</a>
        <a routerLink="#">Projects</a>
        <a routerLink="About">About US</a>
        <a routerLink="Contacts">Contacts</a>
      </div>
    </div>
    <div class="touchBtn d-flex align-items-center justify-content-center">
      <button class="px-3 py-2  rounded-pill touch" [ngClass]="{'scrolled': isScrolled}" >GET IN TOUCH</button>
      <button class="px-2 py-1  text-dark open" [ngClass]="{'openscrolled': isScrolled}" ><i class="fa-solid fa-equals"></i></button>
      <button class="px-2 py-1  text-dark close" [ngClass]="{'scrolled': isScrolled}" ><i class="fa-solid fa-xmark"></i></button>
    </div>
    
   
  </div>

</nav>

<router-outlet></router-outlet>


