<nav class="navbar navbar-light fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <div class="d-flex align-items-center justify-content-center">
      <a class="navbar-brand fw-bold" [ngClass]="{'scrolledlogo': Scrolledlogo}">Logo.</a>
      <div class="menus  d-flex align-items-center justify-content-between ms-4" style="width: 500px;">
        <a href="Home">Home</a>
        <a href="Services">Services</a>
        <a href="#">Projects</a>
        <a href="About">About US</a>
        <a href="Contacts">Contacts</a>
      </div>
    </div>
    <div class="touchBtn">
      <button class="px-3 py-2  rounded-pill">GET IN TOUCH</button>
    </div>
    
   
  </div>

</nav>

<router-outlet></router-outlet>


