<div class="home container-fluid w-100 ">
    
<h1 class="text-center" style="margin-top: 60px;"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">Innovative Solutions,<br> Tailored to <Span style="color: #7010f5;">You.</Span></h1>
<p class="text-center mt-4 fs-5" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">Use smart tools that take the grind out of web creation so you can build exceptional, responsive sites</p>
<div class="btnn container-fluid d-flex align-items-center justify-content-center mt-5"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600" data-aos-once = "false">
    <button class="text-center text-white getstr-btn px-3 py-3  rounded-pill">GET STARTED</button>
</div>

<section style="padding: 60px 0px;margin: auto;" class="cards row w-100 container-fluid d-flex align-items-center justify-content-between h-100">
    <div class="cards-wrapper" [ngStyle]="{'width': cards.length * 270 + 'px'}">
        <div *ngFor="let card of cards" class="col-md-6 card"></div>
    </div>
</section>


<section style="padding: 60px 0px;"  class="workus container h-100 d-flex align-items-center justify-content-around flex-column rounded-4">
    <div class="heads mb-5">
        <h3 class="text-center fs-4">Who We Are</h3>
        <h5 class="fs-2 fw-bold text-center">Get To Know Us</h5>
    </div>
    <div class="d-flex align-items-center justify-content-between ">
        <div class="left d-flex align-items-start justify-content-around flex-column w-50 p-5 ">
            <h2 class="py-3 fs-1 fw-bold">ABOUT US</h2>
            <p class="py-3 pe-3 lh-base">Lorem ipsum dolor sit amet  adipisicing elit. Illum maiores velit quia facilis explicabo sequi provident autem facere, labore molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus explicabo aliquid alias cum earum quam omnis illum, accusamus mollitia tempora, rerum rem quis corporis veritatis numquam eveniet, optio ex voluptatum! Quam dolores eligendi dolorem suscipit quasi ullam ipsa explicabo voluptas! Labore corporis ad excepturi repellendus nobis odit. Optio, fugit eligendi?</p>
            <button class="whyus-btn my-2 px-3 py-2 rounded-pill">LEARN MORE</button>
        </div>
        <div style="height: 550px;width: 1px;background-color: #dadada" class="center">
            
        </div>
        <div class="right w-50 d-flex align-items-center justify-content-center flex-column p-5">
           <div class="top w-100 d-flex align-items-center justify-content-around p-4">
            <div class="why bg-white" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" data-aos="flip-right" data-aos-duration="1000"  data-aos-once = "false" >
                <h4>100+</h4>
                <p>Completed <br>Projects</p>
            </div>
            <div class="why" data-aos="flip-right" data-aos-duration="1000"  data-aos-once = "false"><h4>10+</h4>
                <p>On Going <br>Projects</p></div>
           </div>
           <div class="bottom top w-100 d-flex align-items-center justify-content-around p-4">
            <div class="why" data-aos="flip-right" data-aos-duration="1000"  data-aos-once = "false"> <h4>70+</h4>
                <p>Happy <br>Clients</p></div>
                
            <div class="why" data-aos="flip-right" data-aos-duration="1000"  data-aos-once = "false"> <h4>50</h4>
                <p>Workers Through<br>out Globe</p></div>
           </div>
        </div>
    </div>
</section>

<section style="padding: 60px 0px;" class="services container d-flex flex-column align-items-center justify-content-center h-100 ">

    <h3 class="text-center fs-4">SERVICES</h3>
    <h5 class="fs-2 fw-bold text-center mb-5">Taking Your Business to<br> the Next Level</h5>
    <div class="row container service-card d-flex align-items-center justify-content-between my-5" >
        <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-between flex-column " data-aos="fade-right" data-aos-duration="800"  data-aos-once = "false">
            <img width="150px" height="150px" src="../assets/Services-card/Component 1.svg" alt="">
            <h3 class="my-3 fs-5">Business plans</h3>
            <p class="px-5 py-3 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima debitis suscipit vel</p>
        </div>
        <div class="col-lg-4  col-md-12  d-flex align-items-center justify-content-between flex-column" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300" data-aos-once = "false">
            <img width="150px" height="150px" src="../assets/Services-card/Component 3.svg" alt="">
            <h3 class="my-3 fs-5">Accounting Services</h3>
            <p class="px-5 py-3 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima debitis suscipit vel </p>
        </div>
        <div class="col-lg-4  col-md-12  d-flex align-items-center justify-content-between flex-column" data-aos="fade-left" data-aos-duration="800" data-aos-once = "false">
            <img width="150px" height="150px" src="../assets/Services-card/Component 2.svg" alt="">
            <h3 class="my-3 fs-5">Finance Optimization</h3>
            <p class="px-5 py-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptatum!  </p>
        </div>
    </div>

</section>

<section style="padding: 60px 0px;" class="Projects container d-flex align-items-center justify-content-center flex-column h-100 ">
    <h5 class="fs-2 fw-bold text-center">Our Projects</h5>
    <p class="text-center mb-5 fs-6 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus<br> beatae quibusdam quasi itaque voluptatum! Sequi!</p>
    <div class="project-card container d-flex align-items-center justify-content-between rounded-4">
        <div class="cont w-50 d-flex align-items-start justify-content-around flex-column p-5" data-aos="fade-up" data-aos-duration="1500"  data-aos-once = "false">
            <h3  class="text-white mb-3">Property Management <br> WebApp</h3>
            
            <p style="font-size: 15px" class=" text-white  fs-6 fw-light mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam quaerat eligendi dignissimos perferendis, sint quo exercitationem numquam deserunt. Necessitatibus quibusdam quis voluptatem facere recusandae aut asperiores maxime, rem quidem tenetur?</p>

            <button class="text-center text-dark getstr-btn px-3 py-2  rounded-pill">READ MORE</button>
        </div>
        <div class="w-50">
            <img width="100%"  src="../assets/Project-card/Screenshot (29).png" alt="" data-aos="zoom-in-up" data-aos-duration="800"  data-aos-once = "false">
        </div>
    </div>
</section>



</div>




  

<div class="home container-fluid w-100 ">
    

 


    <section style="padding: 60px 0px;" class="Execution container d-flex align-items-center justify-content-around flex-column h-100">
      <div class="head mb-5">
        <h3 class="text-center fs-4" style="color: #7010f5;">Execution Process</h3>
        <h5 class="fs-2 fw-bold text-center">Why you should work with us</h5>
      </div>
     
      <img style="width: 100%;" src="../assets/Execution.svg" alt="">
    </section>
 



    <section style="padding: 60px 20px;" class="toolcard container  d-flex align-items-center justify-content-between w-100 h-100 rounded-4">
        <div class="w-50 order-lg-1 order-2 ">
            <h1 class=" p-0" style="font-size: 60px;">Techs And Tools We Are Using For Building Our Projects</h1>
            <p class=" fw-normal fs-6">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae necessitatibus illo dicta dolorum, labore voluptatibus est earum, neque modi rerum et, inventore alias qui perferendis?</p>
    
        </div>
        <div class=" order-lg-2 order-1 w-50 d-flex align-items-center justify-content-center">
            <img class="tools-img" style="width: 100%" src="../assets/Frame 1.svg" alt="">
        </div>
          </section>





    <section style="padding: 60px 0px;" class="clients container d-flex align-items-center justify-content-around flex-column h-100 w-100">
        <div class="class mb-5">
          <h3 class="text-center fs-4" style="color: #7010f5;">Testimonials</h3>
          <h5 class="fs-2 fw-bold text-center">We Care About Our Customers<br>Experince Too</h5>
        </div>
        
        <div  class="reviews row  d-flex align-items-center justify-content-between">
            <div class="review-card col "  data-aos="fade-right" data-aos-duration="800" >
               <img  src="../assets/clients/person1.jpg" alt="">
               <h3>Zara Feroz</h3>
               <p style="font-size: 12px;" class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, beatae?Lorem ipsum dolor sit amet.</p>
               
               <div class="anim">
                <div style="background-color: #6101D3;"></div>
                <div style="background-color: #6101D3;"></div>
                <div style="background-color: #6101D3;"></div>
                <div style="background-color: #6101D3;"></div>
               </div>
               
            </div>
            <div class="review-card col  "  data-aos="fade-right" data-aos-duration="800" >
                <img  src="../assets/clients/person2.jpg" alt="">
                <h3> Michael Pitt</h3>
                <p style="font-size: 12px;" class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, beatae?Lorem ipsum dolor sit amet.</p>
                <div class="anim">
                <div style="background-color: #CA2C5B;"></div>
                <div style="background-color: #CA2C5B;"></div>
                <div style="background-color: #CA2C5B;"></div>
                <div style="background-color: #CA2C5B;"></div>
                
               </div>
            </div>
            <div class="review-card col "  data-aos="fade-left" data-aos-duration="500" >
                <img  src="../assets/clients/person3.jpg" alt="">
                <h3>Logan paul</h3>
                <p style="font-size: 12px;" class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, beatae?Lorem ipsum dolor sit amet.</p>
                <div class="anim">
                <div style="background-color: blue;"></div>
                <div style="background-color: blue;"></div>
                <div style="background-color: blue;"></div>
                <div style="background-color: blue;"></div>
                
               </div>
            </div>
            <div class="review-card col "  data-aos="fade-left" data-aos-duration="500" >
                <img  src="../assets/clients/person4.jpg" alt="">
                <h3>Ragul Adithya</h3>
                <p style="font-size: 12px;" class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, beatae?Lorem ipsum dolor sit amet.</p>
                <div class="anim">
                <div style="background-color: yellowgreen;"></div>
                <div style="background-color: yellowgreen;"></div>
                <div style="background-color: yellowgreen;"></div>
                <div style="background-color: yellowgreen;"></div>
                
               </div>
            </div>
            
           
        </div>
    </section>

</div>


<section style="padding: 60px 0px;margin: 60px auto 0px;" class="contact container-fluid w-100 d-flex align-items-center justify-content-center w-100 h-100 ">
    

        <div>
            <img  data-aos="fade-right" data-aos-duration="800"  style="position: absolute;right: 200px; bottom: 0%;" width="400px" src="../assets/cta.png" alt="">
        </div>

        <div  class="d-flex container align-items-start justify-content-around flex-column">
            <h5 class="fs-2 fw-bold "  data-aos="fade-right" data-aos-duration="800">Just Bring Maximum Power To Your Website</h5>
           <p class="w-50"  data-aos="fade-right" data-aos-duration="800">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit maiores temporibus numquam. Nulla officia ipsum eaque facere, quisquam nisi iusto.</p>
           <button class="text-center text-white getstr-btn px-3 py-3  rounded-pill" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="700">Get In Touch<i class="fa-solid fa-headset ms-2"></i></button>
        </div>
    
   
</section>



<app-footer></app-footer>

