.home{
    height: 100%;
}
.home h1{
   
    padding: 50px 0px 10px 0px;
    font-size:90px;
    font-weight:800 ;
    
}

.getstr-btn {
    background:#0d0c22;
    color: white;
    outline: none;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.getstr-btn:hover{
    background:#465368;
}

.cards {
  overflow: hidden;
  position: relative;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.cards-wrapper {
  display: flex;
  animation: slide 30s linear infinite;
}

.card {
  margin: 0px 30px;
  height: 340px;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
  background-color: black;
  flex: 0 0 auto; /* Ensure cards don't shrink or grow */
}


.card:nth-child(1){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(2){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(3){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(4){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(5){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(6){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(7){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(8){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(9){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.card:nth-child(10){
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.068)), url('../../assets/Employee/2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}



.services h3{
    color: #7010f5;
}



.Projects h3{
    color: rgb(0, 0, 0);
}

.project-card{

    /* height: 500px;
     */
     padding:5%;
     height: 100%;
    
    background-color: black;
}

.project-card button{
    background:#ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
}

.tools{

    height: 270px;
   
}




 

  



  
  /* .reviews{
    margin-top: 20px;
  } */

  .reviews .review-card{
    margin: auto 20px;
    height: 400px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid white;
    transition: .5s ease;
  }

  .reviews .review-card img{
    border-radius: 50%;
    width: 100px;
  }
 
  .reviews .review-card:hover{
    transform: translateY(-20px);
  }
  .reviews .review-card h3{
    font-weight: 700;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   
  }

  .anim{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .anim div{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  }

  .contact{
    height: 400px;
    background-color: #eeeeee;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  
  .techs{
    background:linear-gradient(45deg , #F5F7F2,#F5F7F2);
    height: 540;
  }

  .workus{
    background-color: #f5f7f2;
  }
  .workus .heads h3{
    color: #7010f5;
  }

  .whyus-btn{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #151a24;
    color: white;
    border: none;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
  }
  .whyus-btn:hover{
    background: #465368;
    
  }
  
  .workus .right .why{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid #dadada;
    cursor: pointer;
    transition:  0.5s ease;
  }
  .workus .right .why:hover{

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  }
  .why h4{
  font-weight: 500;
  color :black;
  font-size: 50px;
  text-align: center;
  }
  .why p{
  font-weight: 400;
  color :rgb(75, 75, 75);
  font-size: 16px;
  text-align: center;
  }
  

 

  
 

  .toolcard{
    background: #F5F7F2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #212529;
  }

  .touchBtn {
    background:#151A24;
    color: white;
    outline: none;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.touchBtn:hover{
    background:#323c4d;
}

@keyframes movebounce{
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-10px);
  }
  100% {
      transform: translateX(0);
  }
}
  .tools-img {
  animation-name: movebounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@media only screen and (max-width: 800px) {
 h1{
  font-size: 35px !important;
 }
 p{
  font-size: 15px !important;
 }
 .whowe{
  flex-direction: column !important;
  width: 100% !important;
 }
 .whowe .left{
  
  align-items: center !important;
  text-align: center !important;
 }
 .whowe .center{
  display: none !important;
 }
 .whowe div{
  width: 100% !important;
  padding: 5px !important;
 }
 .whowe .right .top .why{
    width: 40% !important;
    height: 40% !important;
    padding: 10px !important;
 }
 .whowe .right .top .why h4{
  font-size: 18px !important;
 }
 .services h5{
  margin: 0% !important;
 }

 
 .services .row {
  padding: 0% !important;
  margin: 0% !important;
  margin-top: 20px !important;
 }

 .services .row div{
  margin: 0px !important;
 }
 .Projects{
  padding: 0% auto !important;
  /* padding: 10px 0px !important; */
  width: 100% !important;
 }

 .Projects .cont{
  width: 100% !important;
  margin: 0% !important;
  padding: 0% !important;
  align-items: center !important;
  text-align: center !important;
 }



 .Projects .project-card{
  width: 100% !important;
  flex-direction:  column !important;
 }
 .Projects .project-card div{
  margin:50px auto !important ;
  width: 100% !important;
 }

 .toolcard{
  align-items: center !important;
  text-align: center !important;
 
  width: 100% !important;
  flex-direction: column;
 }
 .toolcard div{
  padding: 10px !important;
  margin: 0% !important;
  width: 100% !important;
 }
 .toolcard h1{
  font-size: 25px !important;
 }

 .reviews{
  flex-direction: column !important;
  /* padding: 30px !important */
 }
 .reviews .review-card{
  width: 90% !important;
  height: 40% !important;
  margin-bottom: 30px !important;
 }

 .contact .container{
  align-items: center !important;
  text-align: center !important;
 }
 .contact p{
  width: 80% !important;
 }

 .contact img{
  display: none !important;
 }

 
}

button{
  cursor: pointer;
}

